html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(180deg, #d4f5ffff 0%, #253242ff 100%);
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}